
/* Login Wrapper */
.login-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Login Container */
.login-container {
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.login-header {
  background: linear-gradient(135deg, #00bfa5, #009688, #00bfa5);
  color: white;
  padding: 20px 0;
  margin: 0px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.login-header h1 {
  margin: 0;
  font-size: 2.5em;
  transition: color 0.3s;
}

/* Login Box Styles */
.login-box {
  padding: 40px 20px;
  height: 100vh;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5em;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Button Styles */
.login-button {
  background: linear-gradient(135deg, #00bfa5, #00796b);
  color: #ffffff;
  border: none;
  padding: 16px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  margin-top: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
  background: linear-gradient(135deg, #00796b, #00bfa5);
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.login-button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Footer Styles */
.login-footer {
  margin-top: 20px;
  font-size: 0.9em;
  color: #fff;
  text-align: center;
}

.login-footer p {
  margin: 0;
}
