nav{
    display: flex;
    justify-content: left;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover{
    color: #ccc;
}

.active {
    background: #004d40;
    color: #ffffff;
}

nav span{
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
}